html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#googleMap{
  height: 500px;
}

.brand-logo{
  font-family: "Bad Script";
  margin-left: 16px;
}