#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{ 
/*    position: relative; */
}

h1{
    font-size: 2em;
}

#over_map{
/*    position: absolute;*/
    top: 10px;
    left: 10px;
    z-index: 99;
}
