
a, a:hover, a:active{ outline:0px !important}


/* Primary Styles
---------------------------------*/
body {
	background:#FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}

h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#000000;
}

h2{
	font-size:34px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}

h3{
	font-family: 'Montserrat', sans-serif;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}

h6{
	font-size:16px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}

p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	padding:100px 0;
}

.intro-phrase{
	padding:0;
	margin:35px 0 55px;
}

.intro-phrase li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #BCBCBC;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}

.link{
	padding:15px 35px;
	background:#84AFE0;
	color:#FFFFFF !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
}

.link:hover {
	text-decoration:none;
	color:#84AFE0 !important;
	background:#FFFFFF;
}

.link:active, .link:focus {
	background: #84AFE0;
	text-decoration:none;
	color:#FFFFFF !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #DDDDDD;
	box-shadow:0 4px 5px -3px #ECECEC;
	position:relative;
	background:#FFFFFF;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#222222;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #84AFE0;
}


/* Visualization
---------------------------------*/
.main-section{
	padding:90px 0 110px;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visualization-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}

.visualization-list-col{
	overflow:hidden;	
}

button{
	padding:15px 35px;
	background:#84AFE0;
	color:#FFFFFF !important;
	font-size:14px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
}

button:hover {
	text-decoration:none;
	color:#84AFE0 !important;
	background:#FFFFFF;
}

button:active, button:focus {
	background: #84AFE0;
	text-decoration:none;
	color:#FFFFFF !important;
}
/* D3 Graph
---------------------------------*/
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

/* Map
---------------------------------*/
.map-container{
	margin-top: 0px;
	margin-left: 15%;
	width: 800px;
	height: 450px;
}

#googleMapContainer{
	margin-top: 0px;
	margin-left: 0%;
	width: 800px;
	height: 450px;
}

/* Footer
---------------------------------*/

.footer{
	padding:35px 0 35px;
}
.copyright{
	color:#CCCCCC;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a{
	color:#7CC576;
}