
body 
{ 
 background-color: #2B2B2B;
}
.header
{

}

.mainPanel h1
{
    color: #FF6767;
    text-align: center;
    font-weight: 600;
    
}
.mainPanel
{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;


    border: 10px solid #393939;
    background-color: #393939;
    border-radius: 10px;
    
    max-width: 600px;
    min-width: 600px;
    margin: 200px auto;
    
    
        
    
}

.footer
{

}

.textbox-addon-custom
{
    background-color: #FF6767 !important;
    border-color: #FF6767;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;  
}
.textbox-addon-custom-stacked
{
    background-color: #FF6767 !important;
    
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-top-color: #FF6767;
    border-bottom-color: #FF6767;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff; 
}



.btn-custom
{
    background-color: #FF6767;
    border-color: #FF6767;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;   
}

.btn-custom:hover
{
    color: #ffffff;
    background-color: #FF4343;
    border-color: #FF4343;
}
