* {box-sizing: border-box}

body{
    background-color: #FAFAFA;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
#map{
	height: 528px;
	width: 100%;
	background-color: gray;
	margin-bottom: 10px;
}



#topBar{
	color: white;
	margin-bottom: 50px;
	padding-left: 0px;
	padding-right: 0px;
}

#jumbo{
	background-color: #4CAF50;
	border-radius: 0px;
	padding-top: 50px;
	padding-bottom: 20px;
}

#Label {
    position: absolute;
    background-color: green;
    margin-top: 100px;
    left: 5%;
    height: 500px;
    width: 500px;
    z-index: 99;
}

.btsendData{
	margin-top: 20px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

#minicard{
	background-color: #E8F5E9;
}

#myPrice{
	border: none;
	background-color: #FAFAFA;
}

#foot{
	background-color: black;
	height: 50px;
}

div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    width: 23%;
    height: 300px;
    margin-bottom: 20px;
}

div.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 77%;
    border-left: none;
    height: 300px;
    margin-bottom: 20px;
}