body {
    color: #444;
    font-family: "Lato", sans-serif;
}

.homeNavbar{
  background-color: #002868;
  color: white;
}

.panelHeader{
  background-color: #002868;
  color: white;
  height: 70px;
}

.infoPanel{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navLink{
  color: white;
  font-size: 20px;
}

#mapContainer{
    width: 100%;
    height: 500px;
}

.schoolBtn, .schoolBtn:hover{
  color: white;
  background-color: #bf0a30;
  font-size: 15px;
}
