body, html{
	background: #4682B4;
}

#map{
    margin-top: 20px;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

section, header{
	background: white;
}

div{
	margin-bottom: 20px;
}