.chart{
    padding: 55px 3rem;
    background-color: grey;
    height: 700px;
    width:100%;
    text-align:center;
}

.container{
    width:100%;
}

svg{
    height:inherit;
    width:inherit;
    float:center;
    align-self:center;
}
