body {
    color: rgb(25, 75, 150);
    font-family: Arial, sans-serif;
}

h1 {
    background-color: rgb(255, 255, 255);
}

h3.safety_class {
    background-color: rgb(255, 255, 255);
}

h3.price_class {
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    max-width: 960px;
}