#body{
    /*background-image: url('../img/bh.jpg');*/
    /*background-repeat: repeat;*/
    background-color: black;
}

#my_tittle{
    width: 100%;
    background-color: rgb(94, 255, 0);
    color:black;
}

#my_tittle h1{
    text-align: center;
}

#panel{
    background-color: black;
    color:greenyellow; 
    padding:10px; 
    margin:0;
}

#panel table{
    margin: auto;
    color: greenyellow;
    vertical-align: middle;
}

#map_container{
    background-color:rgb(255, 136, 0); 
    padding:0px; 
    margin:0;
}