/* GOOGLE FONTS: ROBOTO */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* GLOBAL OVERRIDES */
html, body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #404040;
    overflow: none;
}
h5 {
    font-size: 14pt;
    font-weight: 500;
}
h6 {
    font-size: 9pt;
    color: #9e9e9e;
}
p {
    line-height: 15pt;
    margin-top: 0;
}
.container-fluid {
    height: 100%;
    width: 100%;
}
.row {
    margin: 0;
    height: 100%;
}
.row .col { 
    padding: 0;
    height: 100%;
}

/* NAVIGATION */
nav {
    height: 100%;
    color: #404040;
    padding: 10%;
    overflow: scroll;
}
.navigation {
    background-color: #F5F5F6;
}

/* NAVIGATION - HEADER */
#logo {
    width: 100%;
    height: auto;
}
#description {
    font-size: 9pt;
    line-height: 12pt;
    text-align: justify;
    margin: 0;
}

/* NAVIGATION - OPTIMAL */
#optimal {
    font-size: 9pt;
    line-height: 9pt;
    margin: 32px 0;
}
nav a { 
    color: #00BBD3;
}
nav a:hover {
    color: #FF7043;
}

/* NAVIGATION - FILTERS */
#filters {
    margin-top: 32px;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 10pt;
    color: #00BBD3;
}
.dropdown-content li>span>label {
    top: -10px;
}
#filter-tags {
    line-height: normal;
}
.chip {
    font-size: 7pt;
    font-weight: 400;
    padding: 0 10px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.hidden {
    display: none;
}

/* MAP */
#map {
    width: 100%;
    height: 100%;
}

/* BRIEF */
#brief {
    background-color: #F5F5F6;
    width: 100%;
    max-height: 100%;
    padding: 8px 24px;
    overflow: scroll;
}
#brief h6 {
    margin-top: 0;
    margin-bottom: 15px;
}
ul {
    font-size: 8pt;
}
.weather-icon {
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-right: 8px;
}